news_bot_backend/.env
.newsbotvenv
.idea
.vscode

__pycache__/
*.py[cod]
*$py.class

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/

.coverage
.pytest_cache/
htmlcov/

.mypy_cache/
.pytype/
.dmypy.json

*.pid
*.sock

__pypackages__/
.cache/